<div class="main">
    <span class="sm-head text-center">CUSTOMIZABLE TEMPLATES</span>
    <div class="d-flex justify-content-center">
        <h1 class="main-title">Choose from a wide range of royalty free customizable <span
                class="color">templates</span></h1>
    </div>
    <p class="text-center">With 50+ pre-made templates for every use case, you can quickly and easily customize
        certificates to suit your needs</p>
    <div class="d-flex justify-content-center p-4">
        <img src="cert-red.png" alt="Certificate">
        <img src="cert-blue.png" alt="Certificate">
        <img src="cert-purple.png" alt="Certificate">
        <img src="cert-green.png" alt="Certificate">
    </div>
    <div class="d-flex justify-content-center p-4">
        <button class="btn getstart-btn">Get Started-it's free</button>
    </div>
</div>