<footer >
    <div class="footer-container">
    <div class="footer-content">
      <div class="footer-logo d-flex align-items-end">
        <img src="logo.png" alt="TestBranch Logo">
      </div>
      <div class="d-flex justify-content-center flex-column">
      <div class="footer-links ">
            <h4>Main Links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Features and Pricing</a></li>
              <li><a href="#">Login / Sign up</a></li>
            </ul>
        </div>
      </div>
      <div class="d-flex justify-content-center flex-column">
      <div class="footer-links">
            <h4>Legal & Support</h4>
            <ul>
              <li><a href="#">Terms of Use</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Accessibility</a></li>
              <li><a href="#">Contact us</a></li>
              <li><a href="#">Help Center</a></li>
            </ul>
        </div>
      </div>
      <div class="d-flex justify-content-center flex-column">
      <div class="footer-social">
            <h4>Connect us on</h4>
            <a href="#"><img src="x-logo.png" alt="Social Media"></a>
          </div>
        </div>
    </div>
</div>
<div class="rights d-flex justify-content-center">
    <p>All Rights Reserved © 2024 - testbranch.com</p>
</div>
  </footer>
  