.footer-container {
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2; /* Light gray */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    max-width: 1200px;
    padding: 40px 0px;
    width: 100%;
    gap: 30px;
  }
 .footer-logo{
     margin: auto 0px;
 }
  .footer-logo img {
    width: 280px;
    height: 46px;
  }
  
  .footer-links {
    flex: 1;
  }
  
  .footer-links h4 {
    font-size: 17px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    border-bottom: 1px solid black;
    display: inline-block;
  }
  
  .footer-links ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-links ul li {
    margin-bottom: 8px;
  }
  
  .footer-links ul li a {
font-size: 17px;
font-weight: 300;
line-height: 16px;
    text-decoration: none;
    color: #333;
  }
  
  .footer-social {
    display: flex;
    flex-direction: column;
  }
  
  .footer-social h4 {
    font-size: 17px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    border-bottom: 1px solid black;
    display: inline-block;
  }
  
  .footer-social a img {
    width: 28px;
    height: 28px;
  }
  .rights{
    background-color: #E0DEDE;
  }
  .rights p{
font-size: 16px;
font-weight: 300;
line-height: 26px;

  }
  /* Responsive Styling */
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .footer-links {
      margin-bottom: 20px;
    }
  
    .footer-social {
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 768px) {
    .footer-logo img {
      width: 120px;
    }
  
    .footer-links ul li a {
      font-size: 14px;
    }
  
    .footer-social a img {
      width: 35px;
      height: 35px;
    }
  }
  
  @media (max-width: 480px) {
    .footer-logo img {
      width: 280px;
    }
  
    .footer-links ul li a {
      font-size: 12px;
    }
  
    .footer-social a img {
      width: 30px;
      height: 30px;
    }
  }
  