<div class="main">
    <div class="d-flex align-items-end">
        <img src="blue_v1.png" alt="blue_v1">
    </div>
    <div class="data">
        <h1>Start with TestBranch certificates today for <span class="color">FREE</span></h1>
        <p class="text-center">You can start with TestBranch certificates for FREE forever. If you need more
            certificates prices start from just $29 per month</p>
        <div class="d-flex justify-content-center gap-3">
            <button class="btn start-btn">Start Today</button>
            <button class="btn learn-btn">Learn More</button>
        </div>
    </div>
    <div class="d-flex align-items-end justify-content-end">
        <img src="green_v1.png" alt="green_v1">
    </div>
</div>