<div class="main">
    <div class="p-4">
        <div class="cert-container">
            <div class="cert-content">
              <h1>New possibilities with <span class="color">TestBranch</span> digital certificates</h1>
              <ul class="features-list">
                <li>
                  <img src="Group.png" alt="Icon 1">
                  <div>
                    <h3>Enable multiple instructors or co-ordinators to work together to issue certificates</h3>
                    <p>This can be used to save time when and effort issuing certificates by enabling people who issue certificates on a single source to work together from a single account.</p>
                  </div>
                </li>
                <li>
                  <img src="issue_certificate.png" alt="Icon 2">
                  <div>
                    <h3>Automatically issue a final certificate after series of milestone certificates</h3>
                    <p>This can be used to reduce errors and save time when sending certificates by automating the sending of a final certificate on a course.</p>
                  </div>
                </li>
                <li>
                  <img src="transfer_certicate.png" alt="Icon 3">
                  <div>
                    <h3>Enable the transfer of digital certificates from one person or organization to another</h3>
                    <p>Blockchain certificate ownership as NFTs allows certificates to be fully transferred to the certificate holder or organisation.</p>
                  </div>
                </li>
              </ul>
              <div class="buttons">
                <button class="btn getstart-btn ">Get Started – it's free</button>
                <button class="btn talk-btn">Talk to us</button>
              </div>
            </div>
            <div class="cert-image">
              <img src="girl-certificate.png" alt="Person holding certificate" width="100%">
            </div>
          </div>
          
    </div>
</div>