<div class="main">
    <span class="sm-head text-center">CERTIFICATION TRANSPARENCY</span>
    <div class="d-flex justify-content-center">
        <h1 class="main-title">Benefits of having certificate data on the <span class="color">Blockchain</span></h1>
    </div>
    <div class="data-ownership-container">
        <div class="image-section d-flex justify-content-center">
            <img src="benefitimg-1.png" alt="Person working on laptop">
        </div>
        <div class="d-flex justify-content-center">
            <div class="text-section">
                <h2>Data Ownership</h2>
                <p>Only you own and control your certificate data. TestBranch or no-one else owns your data.</p>
            </div>
        </div>
    </div>
    <div class="data-ownership-container mt-4">
        <div class="d-flex justify-content-center">
            <div class="text-section ">
                <h2>Data Security</h2>
                <p>Your certificate data is stored securely indefinitely on the blockchain and your certificates will always
                    be accessible.</p>
            </div>
        </div>
        <div class="image-section d-flex justify-content-center">
            <img src="benefitimg-2.png" alt="Female working on laptop">
        </div>
    </div>
    <div class="data-ownership-container">
        <div class="image-section d-flex justify-content-center">
            <img src="benefitimg-3.png" alt="btc image">
        </div>
        <div class="d-flex justify-content-center">
            <div class="text-section ">
                <h2>Data Reliability</h2>
                <p>As the blockchain is the most secure way of storing your data this improves the reliability. All data can
                    be encripted to be private or made publicly readable.</p>
            </div>
        </div>
    </div>
    <div class="data-ownership-container mt-4">
        <div class="d-flex justify-content-center">
            <div class="text-section ">
                <h2>Data Encryption</h2>
                <p>The certificates are stored as an NFT (Non Fungable Token) on the blockchain. This is like a piece of
                    data property or digital property.</p>
            </div>
        </div>
        <div class="image-section d-flex justify-content-center">
            <img src="benefit-img-4.png" alt="Encryption image">
        </div>
    </div>

</div>